* {
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito";
}

html body {
    background-color: #f2f2f2;
    padding: 0 25px;
}

/* header */

header {
    margin-top: 25px;
    padding: 25px 25px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 1px #cccccc;
}

header div .photo-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header div .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div .photo-status .photo {
    width: 125px;
    height: 125px;
    background-image: url("../assets/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-bottom: 10px;
    border: 3px solid #e5e5e5;
}

header div .photo-status .status {
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    padding: 8px 20px;
    background-color: #00e676;
    border-radius: 20px;
    border: 2px solid #00a354;
}

header div .info div .log-out {
    width: fit-content;
}

/* header */

.main {
    padding: 0 25px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px #cccccc;
}

/* navigation */

.navigation {
    margin: 10px 0;
}

.navigation nav ul li {
    text-align: center;
    padding: 10px 0;
}

.navigation nav ul li:hover {
    cursor: pointer;
    padding: 10px 0 7px 0;
    border-bottom: 3px solid #6610f2;
}

.navigation nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #6610f2;
    font-size: 16px;
}

/* navigation */

/* appointment/currency table */

.appointment,
.currency {
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px #cccccc;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    padding: 25px 25px;
}

/* appointment/currency table */

/* myModal */

.myModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 5px;
    z-index: 10;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px 1px #cccccc;
    border: 1px solid #e6e6e6;
    width: 500px;
    height: 250px;
    max-width: 80%;
}

.myModal.active {
    transform: translate(-50%, -50%) scale(1);
}

.myModal .header button {
    margin: 5px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 18px;
}

.myModal .content {
    flex-direction: column;
    text-align: center;
    height: 200px;
}

/* EDIT CURRENCY  */

.myModal .content form {
    margin-bottom: 15px;
}

.myModal .content form div div {
    margin: 1px 0;
}

.myModal .content form div div div {
    display: flex;
    align-items: center;
}

/* FINISH APPOINTMENT */

.myModal .content .message {
    font-size: 18px;
}

.myModal .content .action-button {
    display: flex;
    justify-content: center;
}

.myModal .content .action-button button {
    margin: 5px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* myModal */


/* Login, Register, Edit Page */
.form,.editform label {
  position: relative;
  left: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 490px;
  line-height: 26px;
  margin-bottom: 10px;
}

.form,.editform input[type=text]{
  height: 20px;
  flex: 0 0 260px;
  margin-left: 10px;
  margin-right: 10px;
}
.form,.editform input[type=password] {
    height: 20px;
    flex: 0 0 260px;
    margin-left: 10px;
    margin-right: 10px;
}
.form,.editform a{
      font-size: 20px;
}

.form,.editform input[type=hour] {
  position: relative;
  width: 22%;
  padding: 5px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Set a style for the submit button */
.editform .registerbtn {
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 10%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #111;
    cursor: pointer;
    width: 40%;
  }

.form .registerbtn{
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 20%;
    color: black;
    padding: 10px 10px;
    border: 1px solid #111;
    cursor: pointer;
    width: 60%;
}

.editform .cancelbtn {
  background-color: #ff666e;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 10%;
  color: black;
  padding: 10px 10px;
  border: 1px solid #fff;
  cursor: pointer;
  width: 40%;
}